.page {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    height: 100%;
    .title {
      color: #212121;
      font-size: 42px;
      text-align: center;
    }
  }

}