@import "navigation";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  background-color: #cfe8fc;
}

a {
  text-decoration: none;
  color: gray;
  &.active {
    color: rgb(25, 118, 210);
  }
}

.page {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  .header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    height: 100%;
    .title {
      color: #212121;
      font-size: 42px;
      text-align: center;
    }
  }
}