.todos {

}

.createTodo {
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 1em;
  .form {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}

.todoList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .todoItem {
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 1em;
  }
}
